:root {
  --yellow: #f6e767;
  --white: #f6f7f8;
  --black: #2c2e31;
  --background: #d6f2ff;
  --text: #1c0f36;
  --blue: #2483e7;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
  place-content: center;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--white);
  text-align: center;
  font-size: 1.25rem;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
    "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

p {
  margin: 2rem 0 0;
}

#button {
  background: var(--yellow);
  color: var(--text);
  padding: 1rem 2rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  transition: 0.1s ease transform;
  cursor: pointer;
}

#button:active {
  transform: translatey(3px);
}

#buttonv2 {
  
  color: var(--black);
  padding: 1rem 2rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  transition: 0.1s ease transform;
  cursor: pointer;
}

#buttonv2:active {
  background: var(--blue);
  transform: translatey(3px);
}


#buttonv2:focus {
  background: var(--blue);
  transform: translatey(3px);
}




#punchline {
  font-weight: 600;
  font-size: 1.5rem;
}

#error {
  color: #ff4d51;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50.00%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
